{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    </head>
    <body>

    <!--Contact form-->
    <div>
    {%  block add_update %}

        replaceme

    {% endblock %}
{#      <h4>Contact us directly if you have any questions</h4>#}
{#      <p>#}
{#        Please write your name, email address and a message below if you have any questions.#}
{#        One of our staff members will be happy to contact you directly and answer your questions as soon as possible.#}
{#      </p>#}
      <form method="post">
          {% csrf_token %}
                {{ form.type|as_crispy_field }}
                {{ form.letter_grade|as_crispy_field }}
                {{ form.number_grade|as_crispy_field }}
                {{ form.price|as_crispy_field }}
                {{ form.weight|as_crispy_field }}



{#              {{form.as_p}}#}
              <button type="submit">Submit </button>
          </form>
      </div>

    </body>
</html>

{% endblock %}