{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
      <script>


      </script>
    </head>
    <body>

    <!--Contact form-->
    <div>
    {%  block add_update %}

        replaceme

    {% endblock %}
      <form method="post">
          {% csrf_token %}
              <div class="myradio">
                <h4>Type</h4>
                {% for option in form.type %}
                    {{ option }}
                {% endfor %}
              </div>
{#                {{ form.type|as_crispy_field }}#}
              <div class="myradio">
                <h4>letter_grade</h4>
                {% for option in form.letter_grade %}
                    {{ option }}
                {% endfor %}
              </div>
              <div class="myradio">
                <h4>number_grade</h4>
                {% for option in form.number_grade %}
                    {{ option }}
                {% endfor %}
              </div>                {{ form.price|as_crispy_field }}
                {{ form.weight|as_crispy_field }}

{#              {{form.as_p}}#}
              <button type="submit">Submit </button>
          </form>
      </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </body>
</html>

{% endblock %}