{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

    <div class="border p-3 shadow">
      <h4>Add Animal</h4>
      <hr />
     <form action="" method="post">
          {% csrf_token %}
              <div class="myrrereadio" title="type">

                {% for option in form.type %}
                    {{ option }}
                {% endfor %}
              </div>
                <hr>
{#                {{ form.type|as_crispy_field }}#}
              <div class="myradio">
                {% for option in form.letter_grade %}
                    {{ option }}
                {% endfor %}
              <hr>
              </div>
              <div class="myradio">
                {% for option in form.number_grade %}
                    {{ option }}
                {% endfor %}
              <hr>
              </div>
                {{ form.price|as_crispy_field }}
                {{ form.weight|as_crispy_field }}
                

{#              {{form.as_p}}#}
     <hr>
              <input type="submit"> </input>

          </form>

    </div>
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
  

  {% comment %} <h4>Total Value : {{ sum }} <hr> Total Profit : {{ profit }}</h4> {% endcomment %}

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Total Value</th>
        <th scope="col">Total Profit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ sum }} €</td> 
        <td>{{ profit }} € </td> 

    </tbody>
  </table>

    <div style="width: 100%; overflow-x: auto; overflow-y: hidden; direction: rtl">
      <div style="width: 3000px; height: 300px">
        <canvas id="canvas" height="300" width="0"></canvas>
      </div>
    </div>



    <div style="width: 100%; overflow-x: hidden; overflow-y: auto">
      <div style="width: 100%; height: 300px">
    <!-- <h1>Your Herd</h1> -->

    <table  class="table table-responsive-md table-hover">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">price</th>
          <th scope="col">Weight</th>
          <th scope="col">Profit</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        {% for animal in herd %}
        <tr>
          <th scope="row">{{ animal.type }}</th>
          <td>{{ animal.price }}</td>
          <td>{{ animal.weight }}</td>
          <td>{{ animal.profit }}</td>
          <td>{{ animal.value }}</td>
          <td>
            <a class="btn btn-sm btn-info" href="{% url 'update' animal.id %}"
              >update</a
            >
          </td>
          <td>
            <a class="btn btn-sm btn-danger" href="{% url 'delete' animal.id %}"
              >delete</a
            >
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>



  </div>


  
</div>


<script>



    var timeFormat = 'DD/MM/YYYY';

    var config = {
        type:    'line',
        data:    {
            datasets: [
                {
                    label: "Value",
                    data: {{ table|safe }},
                    fill: false,
                    borderColor: 'red'
                }
            ]
        },
        options: {
            responsive: true,
            title:      {
                display: true,
                // text:    "Chart.js Time Scale"
            },
            interaction: {
                mode: 'yAxis',
                {#axis: 'x'#}
             },
            scales:     {
                xAxes: [{
                    type:       "time",
                    time:       {
                        format: timeFormat,
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display:     true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display:     true,
                        labelString: 'value'
                    }
                }]
            }
        }
    };

    window.onload = function () {
        var ctx       = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx, config);
    };

</script>
{% endblock %}
